/* small screen */
@media (max-width: 1225px) {
    .buttonGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.2em;
        border-right: 0px;
        box-shadow: none;
    }

    #buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        box-shadow: none;
        margin-top: 22px;
        width: 90%;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
    }
}

.mainContainer {
    display: flex;
}